<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello, world!</title>
</head>
<body>
<section>
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Add Contact</h1>
            <div class="container-fluid mt-1">

                <div class="row">
                    <div class="col-md-10 offset-md-2">

                        <form action="#"
                              novalidate
                              th:object="${contact}"
                              enctype="multipart/form-data"
                              method="POST"
                              th:action="@{/user/process-contact}"
                              class="mt-2">

                            <div class="input-group has-validation">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="margin-right: 5px">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>

                                <input name="name"  type="text" th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"  class="form-control" id="name-field" aria-describedby="nameError" placeholder="Enter your name here..." required>
                                <div id="nameError" class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}"></div>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="margin-right: 5px">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <input required type="text" id="secondName" name="secondName" placeholder="Enter second name here..." class="form-control"/>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="margin-right: 5px">
                                        @
                                    </div>
                                </div>
                                <input name="email"  type="email" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" class="form-control" id="email-field" aria-describedby="emailHelp" placeholder="Enter your E-Mail here..." required >
                                <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}"></div>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="margin-right: 5px">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <input  type="number" id="number" name="phone" th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}" placeholder="Enter number here..." class="form-control"/>
                                <div class="invalid-feedback" th:each="e:${#fields.errors('phone')}" th:text="${e}"></div>
                            </div>

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="margin-right: 5px">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                </div>
                                <input required type="text" id="work" name="work" placeholder="Enter work here..." class="form-control"/>
                            </div>

                            <div class="form-group mt-3">
                                <textarea  placeholder="Enter your description here...." name="description" class="form-control" rows="10"></textarea>
                            </div>

                            <div class="custom-file mt-2">
                                <input type="file" name="profileImage" />
                            </div>

                            <div class="container text-center mt-3">
                                <button class="btn btn-outline-primary">Save Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>